# Don't include my virtual environment
*/venv
venv/

# Don't include my swp files either
.*.swp

# Stupid DS_Store files too
*/.DS_Store

# Sometimes I do stuff with ipython notebook
*.ipynb

# R stuff
*Rproj*
.RData
.Rhistory

*.py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg

# # Installer logs
pip-log.txt

# # Unit test / coverage reports
 .coverage
 .tox
#
# #Translations
 *.mo

# JSON data
tools/*/*.json

# GitHub token
.github

data/json/.DS_Store
.DS_Store
