# Don't include my virtual environment
*/venv

# Don't include my swp files either
.*.swp

# Stupid DS_Store files too
*/.DS_Store

*.py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# # Installer logs
pip-log.txt

# # Unit test / coverage reports
 .coverage
 .tox
#
# #Translations
 *.mo
