#vcdbmap {
  display: block;
  margin-left:auto;
  margin-right:auto;
  padding-bottom:20px;
	width:500px;
	text-align:center;
	vertical-align:center;
}

.wland {
  fill: #ffffff;
}

.wboundary {
  fill: #000000;
  stroke: #000000;
  stroke-width: 1px;
}

svg {
	max-width:100%;
}

.d3map {
  display: block;
	margin-left:auto;
	margin-right:auto;
	max-width:100%;
	width:500px;
}

.country {
  stroke:#333;
  stroke-width: 0.25;
  stroke-opacity:1.0;
  stroke-linejoin: round;
  fill: white ;
}

#countrySel {
  width:50%;
}

div.tooltip {
  color: #222;
  background: #fff;
  padding: 0.5em;
  text-shadow: #f5f5f5 0 1px 0;
  border-radius: 2px;
  box-shadow: 0px 0px 2px 0px #a6a6a6;
  opacity: 0.9;
  position: absolute;
  z-index:10;
}

div.heattip {
  color: black;
  background: #fff;
  padding: 0.5em;
  text-shadow: #f5f5f5 0 1px 0;
  border-radius: 2px;
  box-shadow: 0px 0px 2px 0px #a6a6a6;
  opacity: 1.0;
  position: absolute;
  z-index:10;
}

.hidden {
  display: none;
}

#byindustry {
  display: block;
  margin-left:auto;
  margin-right:auto;
}

#byindustry svg {
  width: 700px;
  height: 400px;
}

#actor svg {
   width: 300px;
  height: 150px;
}

#byyear svg .tick line,
#actor svg .tick line,
#action svg .tick line,
#asset svg .tick line,
#attribute svg .tick line {
  display: none;
}

#action svg {
   width: 300px;
  height: 150px;
}

#asset svg {
   width: 300px;
  height: 150px;
}

#attribute svg {
   width: 300px;
  height: 150px;
}

#byyear svg {
   width: 700px;
  height: 300px;
}

.nv-bar .positive {
  stroke-opacity: 0.1;
  stroke: black;
  stroke-width: 0.125;
}

#pheat {
  max-width:100%;
  display: block;
}

.nvd3 .nv-multibar .nv-groups rect,
.nvd3 .nv-multibarHorizontal .nv-groups rect,
.nvd3 .nv-discretebar .nv-groups rect {
  stroke-opacity: 0.1;
  stroke: black;
  stroke-width: 0.125;
}
