{#  This is a list of actor motives for both internal and external actors.
    The template that includes this should declare an array named exclude_motives.
    The elements of that array will be excluded from the select options.
#}


{% set motivelist = {'NA':'NA (accident)',
'Espionage':'Espionage',
'Fear':'Fear',
'Financial':'Financial gain',
'Fun':'Fun, curiosity, or pride',
'Grudge':'Grudge',
'Ideology':'Ideology',
'Convenience':'Convenience',
'Unknown':'Unknown',
'Other':'Other'}
%}

<div class="form-group">
    <label>Motive</label>
    <select name="actor_motive" required class="form-control">
        <option value="" selected disabled>-- Please Select --</option>
        {% for key,value in motivelist.items()|sort %}
            {% if key not in exclude_motives %}
                <option value="{{key}}">{{value}}</option>
            {% endif %}
        {% endfor %}
    </select>
</div>
