{#  This is a list of actor motives for both internal and external actors.
    The template that includes this should declare an array named asset_groups.
    The template can also include an array called exclude_assets.
    The template can also include a boolean called multiple_assets
    The elements of that array will be excluded from the select options.
#}


{% set serverassets = ['S - Authentication',
  'S - Backup',
  'S - Database',
  'S - DHCP',
  'S - Directory',
  'S - DCS',
  'S - DNS',
  'S - File',
  'S - Log',
  'S - Mail',
  'S - Mainframe',
  'S - Payment switch',
  'S - POS controller',
  'S - Print',
  'S - Proxy',
  'S - Remote access',
  'S - SCADA',
  'S - Web application',
  'S - Code repository',
  'S - VM host',
  'S - Other']
%}

{% set networkassets = ["N - Access reader",
  "N - Camera",
  "N - Firewall",
  "N - HSM",
  "N - IDS",
  "N - Broadband",
  "N - PBX",
  "N - Private WAN",
  "N - PLC",
  "N - Public WAN",
  "N - RTU",
  "N - Router or switch",
  "N - SAN",
  "N - Telephone",
  "N - VoIP adapter",
  "N - LAN",
  "N - WLAN",
  "N - Other"]
%}

{% set userassets = ["U - Auth token",
  "U - Desktop",
  "U - Laptop",
  "U - Media",
  "U - Mobile phone",
  "U - Peripheral",
  "U - POS terminal",
  "U - Tablet",
  "U - Telephone",
  "U - VoIP phone",
  "U - Other"]
%}

{% set terminalassets = ["T - ATM",
  "T - PED pad",
  "T - Gas terminal",
  "T - Kiosk",
  "T - Other"]
%}

{% set mediaassets = ["M - Tapes",
  "M - Disk media",
  "M - Documents",
  "M - Flash drive",
  "M - Disk drive",
  "M - Smart card",
  "M - Payment card",
  "M - Other"]
%}

{% set peopleassets = ["P - System admin",
  "P - Auditor",
  "P - Call center",
  "P - Cashier",
  "P - Customer",
  "P - Developer",
  "P - End-user",
  "P - Executive",
  "P - Finance",
  "P - Former employee",
  "P - Guard",
  "P - Helpdesk",
  "P - Human resources",
  "P - Maintenance",
  "P - Manager",
  "P - Partner",
  "P - Other"]
%}


<div class="form-group">
    <label>Asset</label>
  <select name="asset_variety" required class="form-control" {% if multiple_assets %} multiple='multiple'{% endif %}>
        <option value="" selected disabled>-- Please Select --</option>
    
    {% if "server" in asset_groups %}
        <optgroup label="Server assets">
        {% for item in serverassets %}
            {% if item not in exclude_assets %}
                <option value="{{item}}">{{item}}</option>
            {% endif %}
        {% endfor %}
    {% endif %}
    
    {% if "network" in asset_groups %}
      <optgroup label="Network assets">
      {% for item in networkassets %}
        {% if item not in exclude_assets %}
          <option value="{{item}}">{{item}}</option>
        {% endif %}
      {% endfor %}
    {% endif %}
    
    {% if "user" in asset_groups %}
       <optgroup label="User Devices">
       {% for item in userassets %}
          {% if item not in exclude_assets %}
            <option value="{{item}}">{{item}}</option>
          {% endif %}
       {% endfor %}
    {% endif %}
    
    {% if "terminal" in asset_groups %}
       <optgroup label="Terminal devices">
       {% for item in terminalassets %}
          {% if item not in exclude_assets %}
            <option value="{{item}}">{{item}}</option>
          {% endif %}
       {% endfor %}
    {% endif %}
    
    {% if "media" in asset_groups %}
       <optgroup label="Media assets">
       {% for item in mediaassets %}
          {% if item not in exclude_assets %}
            <option value="{{item}}">{{item}}</option>
          {% endif %}
       {% endfor %}
    {% endif %}
    
    {% if "people" in asset_groups %}
       <optgroup label="People">
       {% for item in peopleassets %}
          {% if item not in exclude_assets %}
            <option value="{{item}}">{{item}}</option>
          {% endif %}
       {% endfor %}
    {% endif %}
    </select>
</div>
