<h2 id="availability">Availability / Utility</h2>
<div class="form-group">
  <label>Variety of availability loss</label>
  <select name="availability_variety" class="form-control" multiple size=7>
    <option value="Destruction">Destruction</option>
    <option value="Loss">Loss</option>
    <option value="Interruption">Interruption</option>
    <option value="Degradation">Degradation</option>
    <option value="Acceleration">Acceleration</option>
    <option value="Obscuration">Obscuration</option>
    <option value="Unknown">Unknown</option>
    <option value="Other">Other</option>
  </select>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label>Duration</label>
      <select name="availability_duration" class="form-control">
        <option value="NA">NA</option>
        <option value="Seconds">Seconds</option>
        <option value="Minutes">Minutes</option>
        <option value="Hours">Hours</option>
        <option value="Days">Days</option>
        <option value="Weeks">Weeks</option>
        <option value="Months">Months</option>
        <option value="Years">Years</option>
        <option value="Never">Permanent/Never</option>
        <option value="Unknown">Unknown</option>
      </select>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label>Value</label>
      <input name="availability_duration_value" class="form-control">
    </div>
  </div>
</div>