<h2 id="confidentiality">Confidentiality / Posession</h2>
<p>Select variety of data compromised and enter # of records involved.</p>
<div id="data-variety-array">
  <div class="row">
    <div class="col-md-8">
      <div class="form-group">
        <label>Variety</label>
        <select name="1_data_variety" class="form-control" required>
          <option value="" selected disabled>-- Please Select --</option>
          <option value="Credentials">Authentication credentials</option>
          <option value="Bank">Bank account data</option>
          <option value="Classified">Classified information</option>
          <option value="Copyrighted">Copyrighted material</option>
          <option value="Medical">Medical records</option>
          <option value="Payment">Payment card data</option>
          <option value="Personal">Personal information</option>
          <option value="Internal">Sensitive organizational data</option>
          <option value="System">System information</option>
          <option value="Secrets">Trade secrets</option>
          <option value="Unknown">Unknown</option>
          <option value="Other">Other</option>
        </select>
      </div><!-- end of form-group -->
    </div><!-- end of col-md-8 -->
    <div class="col-md-4">
      <div class="form-group">
        <label>Record count</label>
        <input name="1_data_count" type="number" class="form-control">
      </div>
    </div><!-- end of col-md-4 -->
  </div><!-- end of row -->
</div><!-- end of data-variety-array -->