<h2 id="confidentiality">Confidentiality / Posession</h2>
<div class="row">
  <div class="col-md-3">
    <div class="form-group">
      <label>Data Disclosure</label>
      <select name="data_disclosure" class="form-control" required>
        <option value="" selected disabled>-- Please Select --</option>
        <option value="Yes">Yes</option>
        <option value="Potentially">Potentially</option>
        <option value="No">No</option>
        <option value="Unknown">Unknown</option>
      </select>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <label>Total Records</label>
      <input name="data_total" class="form-control">
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <label>Data State</label>
      <select name="state" class="form-control">
        <option value="" selected disabled>-- Please Select --</option>
        <option value="Stored">Stored</option>
        <option value="Stored encrypted">Stored encrypted</option>
        <option value="Stored unencrypted">Stored unencrypted</option>
        <option value="Transmitted">Transmitted</option>
        <option value="Transmitted encrypted">Transmitted encrypted</option>
        <option value="Transmitted unencrypted">Transmitted unencrypted</option>
        <option value="Processed">Processed</option>
        <option value="Unknown">Unknown</option>
      </select>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <label>Data used maliciously?</label>
      <select name="data_malicious" class="form-control">
        <option value="" selected disabled>-- Please Select --</option>
        <option value="Yes">Yes</option>
        <option value="No">No</option>
        <option value="Unknown">Unknown</option>
      </select>
    </div>
  </div>
</div>
<p><strong>Select variety of data compromised and enter # of records involved.</strong></p>
<div class="indented-fields pull-right">
  <div id="data-variety-array">
    <div class="row">
      <div class="col-md-8">
        <div class="form-group">
          <label>Variety</label>
          <select name="1_data_variety" class="form-control" required>
            <option value="" selected disabled>-- Please Select --</option>
            <option value="Credentials">Authentication credentials</option>
            <option value="Bank">Bank account data</option>
            <option value="Classified">Classified information</option>
            <option value="Copyrighted">Copyrighted material</option>
            <option value="Medical">Medical records</option>
            <option value="Payment">Payment card data</option>
            <option value="Personal">Personal information</option>
            <option value="Internal">Sensitive organizational data</option>
            <option value="System">System information</option>
            <option value="Secrets">Trade secrets</option>
            <option value="Unknown">Unknown</option>
            <option value="Other">Other</option>
          </select>
        </div><!-- end of form-group -->
      </div><!-- end of col-md-8 -->
      <div class="col-md-4">
        <div class="form-group">
          <label>Record count</label>
          <input name="1_data_count" type="number" class="form-control">
        </div>
      </div><!-- end of col-md-4 -->
    </div><!-- end of row -->
  </div><!-- end of data-variety-array -->
  <button id="btn-add-data-variety" class="btn btn-default btn-sm" type="button"><span class="glyphicon glyphicon-plus"></span> Add Another Variety</button>
</div><!-- end of indented-fields pull-right -->
<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <label>Credit monitoring offered?</label>
      <select name="credit_monitoring" class="form-control">
        <option value="" selected disabled>-- Please Select --</option>
        <option value="Yes">Yes</option>
        <option value="No">No</option>
        <option value="Unknown">Unknown</option>
      </select>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label>Years monitoring</label>
      <input name="credit_monitoring_years" class="form-control">
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label>Data subject</label>
      <select name="data_subject" class="form-control">
        <option value="" selected disabled>-- Please Select --</option>
        <option value="Customer">Customer</option>
        <option value="Employee">Employee</option>
        <option value="Patient">Patient</option>
        <option value="Student">Student</option>
        <option value="Other">Other</option>
        <option value="Unknown">Unknown</option>
      </select>
    </div>
  </div>
</div>
<div class="form-group">
  <label>Confidentiality / Posession notes</label>
  <textarea name="confidentiality_notes" class="form-control"></textarea>
</div>