<div class="form-group">
    <label>Discovery Method</label>
    <select name="discovery_method" class="form-control">
        <option value="Ext - actor disclosure">External - Disclosed by threat actor (e.g., public brag, private blackmail)</option>
        <option value="Ext - law enforcement">External - Notified by law enforcement or government agency</option>
        <option value="Ext - fraud detection">External - Fraud detection(e.g., CPP)</option>
        <option value="Ext - monitoring service">External - Managed security event monitoring system</option>
        <option value="Ext - customer">External - Reported by customer or partner affected by the incidet</option>
        <option value="Ext - unrelated party">External - Reported by unrelated external party (not customer, partner, law enforcement)</option>
        <option value="Ext - audit">External - Security audit or scan</option>
        <option value="Ext - unknown">External Unknown</option>
        <option value="Int - antivirus">Internal - Antivirus alert</option>
        <option value="Int - incident response">Internal - Discovered while responding to another (separate) incident</option>
        <option value="Int - financial audit">Internal - Financial audit and reconciliation process</option>
        <option value="Int - fraud detection">Internal - Fraud detection mechanism</option>
        <option value="Int - HIDS">Internal - Host IDS or file integrity monitoring</option>
        <option value="Int - IT audit">Internal - IT audit or scan</option>
        <option value="Int - log review">Internal - Log review process or SIEM</option>
        <option value="Int - NIDS">Internal - Network IDS or IPS alert</option>
        <option value="Int - security alarm">Internal - Physical security alarm</option>
        <option value="Int - reported by user">Internal - Unusual activity or system event reported by user</option>
        <option value="Int - unknown">Internal Unknown</option>
        <option value="Unknown">Unknown</option>
    </select>
</div>

