<!DOCTYPE html>
<html>
  <head>
    <title>VCDB Incident Entry Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{{ url_for('static', filename='html5shiv.js') }}"></script>
      <script src="{{ url_for('static', filename='respond.min.js') }}"></script>
    <![endif]-->
  </head>
  <body>

