<h2 id="integrity">Integrity / Authenticity</h2>
<div class="form-group">
  <label>Integrity Variety</label>
  <select name="integrity_variety" class="form-control" multiple size=7>
    <option value="Created account">Created account</option>
    <option value="Hardware tampering">Hardware tampering</option>
    <option value="Alter behavior">Alter behavior</option>
    <option value="Fraudulent transaction">Fraudulent transaction</option>
    <option value="Log tampering">Log tampering</option>
    <option value="Misappropriation">Misappropriation</option>
    <option value="Misrepresentation">Misrepresentation</option>
    <option value="Modify configuration">Modify configuration</option>
    <option value="Modify privileges">Modify privileges</option>
    <option value="Modify data">Modify data</option>
    <option value="Software installation">Software installation</option>
    <option value="Unknown">Unknown</option>
    <option value="Other">Other</option>
  </select>
</div>
<div class="form-group">
  <label>Integrity notes</label>
  <textarea name="integrity notes" class="form-control"></textarea>
</div>