{#  This is a list of physical locations for loss or theft.
    The template that includes this should declare an array named exclude_locations.
    The elements of that array will be excluded from the select options.
#}


{% set locationlist = {'Partner facility':'Partner facility',
'Partner vehicle':'Partner vehicle',
'Personal residence':'Personal residence',
'Personal vehicle':'Personal vehicle',
'Public facility':'Public facility',
'Public vehicle':'Public vehicle',
'Victim secure area':'Victim secure area',
'Victim work area':'Victim work area',
'Victim public area':'Victim public area',
'Victim grounds':'Victim grounds',
'Unknown':'Unknown',
'Other':'Other'}
%}

<div class="form-group">
    <label>Location</label>
    <select name="location" required class="form-control">
        <option value="" selected disabled>-- Please Select --</option>
        {% for key,value in locationlist.items()|sort %}
            {% if key not in exclude_locations %}
                <option value="{{key}}">{{value}}</option>
            {% endif %}
        {% endfor %}
    </select>
</div>
