{% include 'partials/header.html' %}

<p>This is the root of the application. Here is where the user will select whether to use the long form or the short form.</p>
<ul>
    <li>Theft (Physical)</li>
    <li>Tampering (Physical)</li>
    <li>Loss (Error)</li>
    <li>Publishing Error (Error)</li>
    <li>Misdelivery (Error)</li>
    <li>Disposal Error (Error)</li>
    <li>Privilege Abuse (Misuse)</li>
    <li>Embezzlement (Misuse)</li>
    <li>Denial of Service (Hacking)</li>
    <li>Intrusion (Hacking)</li>
    <li>Malware Infection (Malware)</li>
</ul>

{% include 'partials/footer.html' %}
