{% include 'partials/header.html' %}

<form action='/' method="POST">
    <div class="jumbotron">
        <div class="container">
            <h1>VCDB Entry Form</h1>
            <p>This simple application takes input about an information security incident and produces a record which can be included in the Veris Community Database. Start by selecting one of the short forms for simplified entry of an incident or select the long form for incidents where a lot of detail is included in public sources.</p>
            <label>Which form would you like to use?</label>
            <select id="which_form" name="which_form">
                <option value="" selected disabled>-- Please select --</option>
                <optgroup label="Short Forms">
                    <option value="theft_physical">Theft (Physical)</option>
                    <option value="tampering_physical">Tampering (Physical)</option>
                    <option value="loss_error">Loss (Error)</option>
                    <option value="publishing_error_error">Publishing Error (Error)</option>
                    <option value="misdelivery_error">Misdelivery (Error)</option>
                    <option value="disposal_error_error">Disposal Error (Error)</option>
                    <option value="privilege_abuse_misuse">Privilege Abuse (Misuse)</option>
                    <option value="embezzlement_misuse">Embezzlement (Misuse)</option>
                    <option value="dos_hacking">Denial of Service (Hacking)</option>
                    <option value="intrusion_hacking">Intrusion (Hacking)</option>
                    <option value="malware_malware">Malware Infection (Malware)</option>
                </optgroup>
                <option value="long_form">Long Entry Form</option>
            </select><br />
            <button type="submit" class="btn btn-success btn-lg">Let's Go!</button>

        </div>
    </div>
</form>

{% include 'partials/footer.html' %}
